body{
margin: 0;
text-align: center;
font: italic small-caps bold 16px/2 cursive;
background-color: #edffea;

}
.desc{
  width: 30%;
  margin: auto auto 50px auto;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 50px;
  color: #844685;
}
h2{
  font-size: 30px;
  color: #844685;
}
h3{
  font-size: 25px;
  color: #844685;
}
hr{
  margin: 120px auto 120px auto;
  border: none;
  border-top: dotted 7px;
  width: 5%;
  color: grey;

}

.line2{
  font-size: 15px;

}

.top{
  background-color: #b7efcd;
  position: relative;
  padding-top: 100px;


}

.bottom{
  background-color: #b7efcd;
  padding: 50px;

}
.photo{
  border-radius: 50%;
  width: 8%;
}
.cloud1{
  position: absolute;
  top: 50px;
  right: 350px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%

}
.comp{
  margin-left: 30px;
  float: right;
  width: 25%;
}
.chili{
  margin-right: 30px;
  float: left;
  width: 25%
}
.footer-link{
  text-decoration: none;
  margin: 20px;
  color: #856c8b;
}
.bottomtext{
  color: white;
}
h1:hover{
  color: white;
}
a:hover{
  color: white;
}
.btn{
  color: #ff7272;
  text-decoration: none;
  display: block;
  margin:70px auto 70px auto;
  width: 10%;
  font-style: normal;
}
